<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>about</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">       <!--подключение шрифтов-->
</head>
<body>
    <div id="website_header">                                                                <!--начало шапки сайта-->
        <div class="circle"></div>
        <div class="square"></div>
        <span class="Your_Logo">Your Logo</span>
        <ul class="ul_website_header">                                                       <!--меню в шапки-->
            <li class="li_website_header"> <a class="a_website_header" href="#">Home</a></li>
            <li class="li_website_header"> <a class="a_website_header" href="#">Portfolio</a></li>
            <li class="li_website_header"> <a class="a_website_header" href="#">About</a></li>
            <li class="li_website_header"> <a class="a_website_header" href="#">Contact</a></li>
            <li class="li_website_header"> <div id="orange_background"><a id="a_website_header" href="#">Blog</a></div></li>
        </ul>                                                               
        <span id="Search">Search</span>
        <div class="circle_magnifier">
            <img class="magnifier" src="img/Vector%20Smart%20Object.png">
        </div> 
    </div>                                                                                   <!--конец шапки сайта-->
    <div id="big_slide">                                                                     <!--начало слайда-->
        <div class="big_slide_background"> <img class="big_slide_background" src="img/big_slide.png"> </div>
        <span class="PORTFOLIO">PORTFOLIO</span>
        <span class="WHO_ARE_WE">WHO ARE WE?</span>
        <span class="Lorem_ipsum">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a faucibus elit. Nulla facilisi. 
            Ut eu erat metus. Nulla diam venenatis at scelerisque et, mattis quis mi. Maurisac consequat velit.
            Nullam eget massa vitae sem ullamcorper conse quat. In bibendum orci quis magna facilisis cursus. 
            Maecenas rutrum felis vel nibh ultrices quis tincidunt ipsum dolor sit amet dniof ortigonta alamond 
            druntilortu.
        </span>
        <span class="Sed_lobortis">
            Sed lobortis, dui ac bibendum fringilla, massa augue mattis enim, quis volutpat augue nisi vitae nibh.
            Proin nibh tortor, rutrum luctus euismod eu, rutrum eget nunc. Nam commodo tellus quis ante tempus
            quis auctor enim suscipit. Donec sit amet feugiat justo. Nulla vel nibh et erat consequat sollicitudin.
            <pre>Vivamus egestas erat ac arcu sagittis in tincidunt purus pharetra. Maecenas viverra suscipit arcu,ac adipiscing odio vehicula nec. 
            Vestibulum non enim ac dui interdum tempus nam tortor odio.</pre>
        </span>
        <span class="WE_BELIVE">WE BELIVE IN GOOD DESIGN</span>
    </div>                                                                                    <!--конец слайда-->
    <div id="lines">                                                                          <!--начало линий-->
        <div class="Web_Design">                                                              <!--начало блока Web Design-->
            <img id="img_Web_Design" src="img/Web_Design.png">                                <!--картинка Web Design-->
            <span class="Web_Design_blue_lines">Web Design</span>                             <!--синий текст Web Design-->
            <span class="Web_Design_text_lines">                                              <!--просто текст Web Design-->
                Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum 
                in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. 
                Sed tellus felis.
            </span>
        </div>
        <div class="Phone_App">
            <img id="img_Phone_App" src="img/Phone_App.png">
            <span class="Phone_App_blue_lines">Phone App</span>
            <span class="Phone_App_text_lines">
                Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum
                in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum.
                Sed tellus felis.
            </span>   
        </div> 
        <div class="Commercial">
            <img id="img_Commercial" src="img/Commercial.png">
            <span class="Commercial_blue_lines">Commercial</span>
            <span class="Commercial_text_lines">
                Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum 
                in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum.
                Sed tellus felis.
            </span>   
        </div>
        <div class="Media_Planing">
            <img id="img_Media_Planing" src="img/Media_Planing.png">
            <span class="Media_Planing_blue_lines">Media_Planing</span>
            <span class="Media_Planing_text_lines">
                Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum
                in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum.
                Sed tellus felis.
            </span>   
        </div> 
    </div>                                                                                      <!--конец линий-->
    <div id="teams">                                                                            <!--начало работников-->
        <span class="OUR_TEAM">OUR TEAM</span>
        <div class="one_gray_background">                                                        <!--серый фон-->
        <div class="one_person">                                                                 <!--основной блок первого работника-->
            <div class="gray_small_background">                                                  <!--маленький серый фон внутри блока-->
                <img class="img_one_person" src="img/woman_person.png">                           <!--фотография работника-->
            </div>
            <span class="Art_Director">Art Director</span>                                        <!--текст в блоке-->
            <span class="JON_DOE_LOREM">JON DOE LOREM</span>
            <span class="jondoelorem">jondoelorem@dil,d.com</span>
            <div class="blue_square"></div>
            <div class="turquoise_square"></div>
            <div class="sapphire_square"></div>
            <div class="orange_square"></div>
            <span class="text_person">
                Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. 
                Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar 
                sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis 
                achen oldu bonibkno tranto.
            </span>
        </div>
        </div>
        <div class="two_gray_background">                                                        
        <div class="two_person">                                                                 <!--второй работник-->
            <div class="gray_small_background">
                <img class="img_man_person" src="img/man_person.png">
            </div>
            <span class="Art_Director">Art Director</span>
            <span class="JON_DOE_LOREM">JON DOE LOREM</span>
            <span class="jondoelorem">jondoelorem@dil,d.com</span>
            <div class="blue_square"></div>
            <div class="turquoise_square"></div>
            <div class="sapphire_square"></div>
            <div class="orange_square"></div>
            <span class="text_person">
                Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. 
                Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar 
                sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis 
                achen oldu bonibkno tranto.
            </span>
        </div>
        </div>
        <div class="three_gray_background">
        <div class="three_person">                                                          <!--третий работник-->
            <div class="gray_small_background">
                <img class="img_one_person" src="img/woman_person.png">
            </div>
            <span class="Art_Director">Art Director</span>
            <span class="JON_DOE_LOREM">JON DOE LOREM</span>
            <span class="jondoelorem">jondoelorem@dil,d.com</span>
            <div class="blue_square"></div>
            <div class="turquoise_square"></div>
            <div class="sapphire_square"></div>
            <div class="orange_square"></div>
            <span class="text_person">
                Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. 
                Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar 
                sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis 
                achen oldu bonibkno tranto.
            </span>
        </div>
        </div>
        <div class="four_gray_background">
        <div class="four_person">                                                                  <!--четвертый работник-->
            <div class="gray_small_background">
                <img class="img_one_person" src="img/man_person.png">
            </div>
            <span class="Art_Director">Art Director</span>
            <span class="JON_DOE_LOREM">JON DOE LOREM</span>
            <span class="jondoelorem">jondoelorem@dil,d.com</span>
            <div class="blue_square"></div>
            <div class="turquoise_square"></div>
            <div class="sapphire_square"></div>
            <div class="orange_square"></div>
            <span class="text_person">
                Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. 
                Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar 
                sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis 
                achen oldu bonibkno tranto.
            </span>
        </div>
        </div>
    </div>                                                                                        <!--конец работников-->

</body>
</html>